body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0eaf1;
}

.App {
    text-align: center;
    justify-content: center;
    height: 88vh;
    align-items: center;
}

.App h1 {
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #1e488f;
}

.header {
    margin-top: 40px;
}

.header input {
    width: 350px;
    height: 45px;
    border-radius: 15px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-btn {
    margin-left: 20px;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: green;
    color: #fff;
    outline: none;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clear-btn {
    margin-left: 20px;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(3, 3, 109);
    color: #fff;
    outline: none;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-family: Arial, sans-serif;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}