.App {
    text-align: center;
    justify-content: center;
    height: 88vh;
    align-items: center;
}

.App h1 {
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    margin-top: 50px;
}

.header input {
    width: 350px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid black;
}

.add-btn {
    margin-left: 20px;
    width: 75px;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: green;
    color: #fff;
}

.clear-btn {
    margin-left: 20px;
    width: 75px;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    background-color: rgb(3, 3, 109);
    color: #fff;
}

.list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    font-family: Arial, sans-serif;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 35px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}